<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClientApp.My.MySettings>
            <setting name="DarkThemeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSizeIndex" serializeAs="String">
                <value>1</value>
            </setting>
        </ClientApp.My.MySettings>
    </userSettings>
</configuration>
